body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#generate{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 2%;
}